<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.binplus.travel">

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SelectBoardingPoint"></activity>
        <activity android:name=".AddPassengerDetails" />
        <activity
            android:name=".VerificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AllBusActivity" />
        <activity android:name=".PersonalBookingActivity" />
        <activity android:name=".BookingConfirmation" />
        <activity android:name=".EnterPassengerDetails" />
        <activity android:name=".ScanQrCodeActivity" />
        <activity android:name=".OtpVerificationActivity" />
        <activity android:name=".MobileVerificationActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".HireDetailsActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectSeatActivity" />
        <activity android:name=".StationListActivity" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".SubmitDocuments" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:supportsRtl="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-permission android:name="android.permission.SEND_SMS" />

</manifest>